.article-index-container {
  padding: 50px;
}

.navbar-header {
  color: white;
  display: inline-flex;
}
.navbar-right {
  color: white;
  display: inline-flex;
  margin-left: 420px;
}

.navbar-header h4 {
  margin-left: 20px;
}
.navbar-title{
  font-weight:bold;
}


.article-show-title {
  padding: 10px;
  background-color: #AAAAAA;
  font-size: 14px;
}