.article-index-container {
  padding: 50px;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.navbar-header {
  color: white;
  display: inline-flex;
}
.navbar-right {
  color: white;
  display: inline-flex;
  margin-left: 420px;
}

.navbar-header h4 {
  margin-left: 20px;
}
.navbar-title{
  font-weight:bold;
}


.article-show-title {
  padding: 30px;
  background-color: #AAAAAA;
  font-size: 24px;
  font-weight:bold;
}
.article-show-container{
 
  display: block;
}
.show-user-column{
  border-style:groove;
  high: 500px;
}
.show-user{
  text-align: center;
  padding: 40px 20px;
}
.show-user-block{
  padding: 30px;
}
.table4_4{
  width:100%;
 
}


.table4_4 th,.table4_4 td {
  border: 5px solid #dcf1fc;
  border-width:1px 0 1px 0;
  border-right:5px solid #AAAAAA ;
  
}
.table4_4 tr {
  border: 3px solid #AAAAAA;

}
